@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 6 11 26;
  --surface: 10 16 36;
  --surface2: 14 22 52;

  --text: 245 247 255;
  --muted: 185 196 225;

  --blue: 44 99 255;
  --blue2: 24 72 220;

  --red: 233 45 73;
  --red2: 195 26 53;

  --border: 255 255 255;
}
